# Exclude Allure report and HTML files from language statistics
allure-report/* linguist-vendored
docs/* linguist-vendored
*.html linguist-vendored
*.js linguist-vendored
*.css linguist-vendored
Dockerfile linguist-vendored

# Set Java files as the main language
*.java linguist-language=Java